@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans w-screen overflow-x-hidden !important;
  }
  main {
    counter-reset: section;
  }

  h1 {
    @apply text-slate-lightest font-semibold leading-1.1 !important;
    font-size: clamp(40px, 8vw, 80px) !important;
  }
  h2 {
    @apply flex items-center gap-x-2 mt-2.5 mb-5 text-slate-lightest font-semibold leading-1.1 overflow-hidden !important;
    font-size: clamp(16px, 26px, 33px) !important;
    counter-increment: section;
  }
  h2::before {
    @apply self-stretch text-green font-mono font-normal  !important;
    font-size: clamp(theme(fontSize.md), 3vw, theme(fontSize.xl)) !important;
    content: counter(section, decimal-leading-zero) '. ';
  }

  h3 {
    @apply text-slate-lightest font-semibold hover:text-green duration-150  !important;
    font-size: clamp(24px, 5vw, 28px) !important;
  }

  a {
    @apply hover:text-green;
  }

  p {
    @apply text-slate text-lg mb-5 leading-1.3 laptop:text-xl;
  }

  ol {
    counter-reset: item;
  }

  ol li {
    @apply laptop:text-xs laptop:font-mono !important;
    counter-increment: item;
  }

  ol li::before {
    @apply text-green font-mono font-normal;
    content: counter(item, decimal-leading-zero) '. ';
  }

  ul {
    @apply text-slate text-sm font-mono;
  }
}

@layer components {
  .avatar::before {
    @apply content-empty absolute block border-2 w-full h-full rounded-md border-green top-5 left-5 duration-200;
  }
  .avatar::after {
    @apply content-empty z-10 block absolute w-full h-full bg-green/40 rounded-md  duration-200;
  }
  .avatar {
    @apply hover:after:opacity-0 hover:before:top-4 hover:before:left-4;
  }

  .project-image {
    @apply hover:after:opacity-0;
  }
  .project-image::after {
    @apply content-empty z-10 block absolute inset-0 laptop:bg-green/30 rounded-md  duration-200;
  }

  .link {
    @apply text-green bg-gradient-to-r from-green to-green bg-no-repeat duration-300 !important;
    background-position: 0 90%;
    background-size: 0 0.75px;
  }

  .link:hover {
    background-size: 100% 0.75px !important;
  }

  .customHeading::after {
    @apply block relative isolate left-5 content-empty w-20 bg-navy-lightest flex-1;
    z-index: 1;
    height: 0.5px;
  }
}

@layer utilities {
  .custom-marker li {
    @apply text-slate;
  }

  .custom-marker li::before {
    @apply text-green;
    content: '▹ ';
  }
}
